.leftnav{
    background-color: #468B84;
    width: 40px;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 5;
}
.navmenu{
    margin-top: 10px;
    margin-left: 10px;
}
.navlinks{
    text-decoration: none;
    color: #082522;
}
.navlinks:hover{
  color: #ffdd40;
    border-bottom: 3px solid #ffdd40;
    padding-bottom: 4px;
    transition: all 0.2s linear;
    border-color: #ffdd40;
    cursor: pointer;
}
.navitems{
    margin-top: 25px;
    list-style: none;
    margin-left: -30px;
}

   .navlist2{
    margin-top: 25px;
    
}

.navlinks2{
    color: #082522;
    text-decoration: none;
    margin-left: -28px;
}
.navmenu2{
    margin-top: 10px;
    list-style: none;
}
.navlinks2:hover{
    border-bottom: 3px solid #ffdd40;
    padding-bottom: 4px;
    transition: all 0.2s linear;
    border-color: #ffdd40;
    color: #ffdd40;
}
  
  .navlist2 .active2 {
    color: #ffaf40;
  }
  .showhide.active2 {
    width: 60px;
    height: 100vh;
    display: none;
    transition: all 2s linear;
  }



.slideout-sidebar {
    position: absolute;
    top: 10;
    left: -190px;
    margin-left: 40px;
    z-index: 1;
    width: 120px;
    height: 100%;
    background-color: #468b84;
    transition: all 0.6s linear;
  }
  
  /* -- Menu Icon -- */
  
  #menu-toggle {
    display: none;
  }
  
  .menu-icon {
    position: absolute;
    top: 18px;
    left: 30px;
    font-size: 24px;
    z-index: 1;
    color: #082522;
    cursor: pointer;
  }
  
  /*-- The Magic --*/
  #menu-toggle:checked ~ .slideout-sidebar {
    left: 0px;
    z-index: 10;
  }
  
 
  #menu-toggle:checked ~ .content-container {
    padding-left: 190px;
   scroll-behavior: smooth;
    opacity: 0.8;
  }
  .content-container {
    overflow: hidden;
    transition: all 0.5s linear;
    width: auto;
    height: 100vh;
    margin-left: 50px;
   margin-top: 10px;
   
  }
@media only screen and (max-width: 800px) {
  .slideout-sidebar{
    margin-left: 2px;
    backface-visibility: hidden;
    text-align: center;
  }
  .leftnav{
    display: none;
  }

  #menu-toggle:checked ~ .content-container {
    padding-left: 0px;
    opacity: 0.9;
  }
}
 
 